@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --scrollbar-background-color: transparent;
  --scrollbar-thumb-color: hsl(var(--heroui-primary));
  --scrollbar-thumb-hover-color: hsl(var(--heroui-primary));
  overflow: auto;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-background-color);
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

body {
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}

::selection {
  background-color: hsl(var(--heroui-primary));
  color: hsl(var(--heroui-background));
}

input:focus-visible,
textarea:focus-visible {
  outline: none !important;
}

.video-overlay {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.16) 78.85%);
}